.DS_Store
bak
sav
tmp
*.bak
*.sav
*.tmp
*.err
err.txt
my_*
tmp_*
bak_*
sav_*
obj
Release
Debug
wk_*
wk
work
*.obj
*.o
*.exe
err_*.*
.vs
*.suo
*.ilk
*.pdb
*.idb
*.ipdb
*.gch
*.pch
*.t
*.tlog
*.log
*.sdf
*.opensdf
*.opendb
*.user
build/*.exe
.vscode
.cmake
CMakeFiles
CMakeCache.txt
*.vcxproj.user
