*.exe
build*
thirdparty/*
!thirdparty/*.bat

*.~*
*.bak
*.tmp
*.sav
*.err
err.txt
err_*
tmp_*
sav_*
obj_*
my_*
bak
tmp
sav
*.t
*.o
obj
*.obj
*.db
*.pdb
*.ipdb
*.ilk
*.suo
*.tlog
*.log
.vs
*.sdf
*.opensdf
*.opendb
Debug
Release
Win32_Debug
Win32_Release
x64_Debug
x64_Release
*.user
build/*.exe
cmake
cmake_vc
cmake_mac
cmake_linux
sample/*.exe
#*
.vscode
bld/*
!bld/*.bat
!bld/*.sh
!bld/*.cmake
bin
toolchain/vc??-*-toolchain.cmake
toolchain/vc???-*-toolchain.cmake
